API_ID=26598255
API_HASH=2851fb6ab1bdcd0fcaf768dfcb923ffb
BOT_TOKEN=7271656197:AAH5WNOfGqPDqRTxft7mDwmMD6_7w_OMW1U
LOGGER_ID=-1002060224175
MONGO_DB_URI=mongodb+srv://TEAMBABY01:UTTAMRATHORE09@cluster0.vmjl9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=
STRING_SESSION=
